@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    
    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 13%;
    
    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 33%;
    
    --accent: 351 36% 63%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 0 0% 93%;
    --input: 0 0% 93%;
    --ring: 351 36% 63%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-poppins;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}
